
body { 
    padding-top: 0em;
}

.bg-product {
    background-image: url("../assets/img/bg-purebeurre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    opacity: 0.8;
}

.img-product {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    filter: contrast(20%);
    filter: saturate(2);
}

.img-product-top {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    filter: contrast(20%);
    filter: saturate(2);
}

.card {
    position: relative;
}

.card .card-badge {
    position:absolute;
    top:0;
    right:0;
    padding:5px;
    background: #F4623A;
    color:white;
    padding: 1em;
    /* transform:rotate(-20deg); */
  }

