[run]
omit=
    */migrations/*
    */__init__.py
    manage.py
    */tests/*
    */thesubstitute/*
    */_tests.py
    */apps.py


    */search.py
    */extract.py
    */transform.py
    */load.py
    */database/views.py